/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

/* Page Styles */
.page-container {
	@apply container mx-auto p-2 md:p-12 space-y-8 md:space-y-12;
}

/* Label Text Override */
label:not(.unstyled) span:first-of-type:not(.unstyled):is(:not(.input-chip *)) {
	@apply text-surface-700-200-token text-sm;
}

.float-div-bottom-left {
	position: absolute;
	bottom: 10%;
	left: 0;
}

.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-tertiary-900 via-primary-600 to-secondary-700;
}
.dark .gradient-heading {
	@apply from-secondary-300 via-primary-500 to-success-300;
}

::selection {
	@apply bg-primary-500/40;
}

.btn-gradient-primary {
	@apply bg-gradient-to-tl from-primary-700 via-primary-600 to-primary-400 text-black;
}
.btn-gradient-primary,
.btn-gradient-secondary {
	@apply hover:bg-gradient-to-tr;
}
.bg-gradient-secondary,
.btn-gradient-secondary {
	@apply bg-gradient-to-tl from-secondary-900 via-secondary-800 to-secondary-700 text-black;
}
.bg-gradient-success,
.btn-gradient-success {
	@apply bg-gradient-to-tr from-success-900 via-success-800 to-success-700 text-black;
}
.btn-gradient-success {
	@apply hover:bg-gradient-to-tl;
}

.bg-gradient-error {
	@apply bg-gradient-to-tr from-error-900 via-error-700 to-error-500;
}

.textarea#edit-form {
	@apply text-lg font-light leading-6 tracking-wide !overflow-y-auto !bg-transparent !border-none !outline-none resize-none absolute w-full h-full top-0;
}

/* Chat Styles */
.bg-chat-user {
	@apply bg-blue-900;
}
.bg-chat-bot {
	@apply bg-teal-900;
}
.bg-gradient-chat-user {
	@apply bg-gradient-to-t from-blue-900 via-indigo-800 to-indigo-900;
}

.bg-gradient-chat-bot {
	@apply bg-gradient-to-t from-emerald-900 via-teal-800 to-teal-900;
}
